.layout {
  background-color: var(--primary-background-color);
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .main {
    min-height: calc(100vh - 34.85rem);
    background-color: blueviolet;
  }
  @media screen and (max-width: 65rem) {
    .main {
      width: 100%;
    }
  }
}
