@import "../media.scss";

.layout {
  color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f4f5f5;

  .content {
    max-width: 1120px;
    padding:20px 45px ;
    display: flex;
    justify-content: space-evenly;
    .sideBar {
      min-width: 300px;
    }
  }
}

@include media-ipad {
  .article {
    width: 80%;
    .content {
      img {
        width: 100%;
      }
    }
  }
}

@include media-mobile {
  .article {
    width: 80%;
    .title {
      font-size: 1.75rem;
      line-height: 2.4375rem;
    }
    .content {
      h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
      }
      img {
        width: 100%;
      }
    }
  }
}
