@import "./media.scss";
@import "../public/iconfont/iconfont.css";

@mixin initStatus {
  transform: translate3d(0, 2.5rem, 0);
  opacity: 0;
}

@mixin finalStatus {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
}

.container {
  color: var(--primary-color);
  display: flex;

  .main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
      background-image: var(--home-background-icon);
      background-size: 18.75rem 18.75rem;
      background-repeat: no-repeat;
      width: 18.75rem;
      height: 18.75rem;
    }

    .headerWebp {
      background-image: var(--home-background-icon-webp);
    }

    .top {
      display: flex;
    }

    .title a {
      color: var(--link-color);
      text-decoration: none;
    }

    .title a:hover,
    .title a:focus,
    .title a:active {
      text-decoration: underline;
    }

    .title {
      margin: 0;
      line-height: 1.15;
      font-size: 4rem;
    }

    .title,
    .description {
      text-align: center;
    }

    .description {
      margin: 4rem 0;
      line-height: 1.5;
      font-size: 1.5rem;
    }

    .grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 95%;
      min-height: 18.25rem;
      .card {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 1.5rem;
        padding-bottom: 0.2rem;
        text-align: left;
        color: inherit;
        text-decoration: none;
        border-bottom: 0.0625rem solid var(--footer-background-color);
        transition: color 0.15s ease, border-color 0.15s ease;
        max-width: 48rem;
        cursor: pointer;
        width: 90%;
        height: 9.875rem;

        .cardHead {
          display: flex;
          flex-direction: row;
          justify-content: left;
          width: 60%;
          min-width: 16rem;
          font-size: 0.875rem;
          line-height: 1.5;
        }

        .cardHeadBlock:nth-child(1){
          padding-right: 0.5rem;
          border-right: 1px solid var(--secondary-color);
        }

        .cardHeadBlock:nth-child(1):hover {
          color:var(--link-color)
        }

        .cardHeadBlock:nth-child(3) {
          border-left: 1px solid var(--secondary-color);
          display: flex;
          flex-direction: row;
          .cardHeadBlockChild:hover{
            color: var(--link-color)
          }
          .cardHeadBlockChild:nth-child(1) {
            margin-right: .3rem;
          }
          .cardHeadBlockChild:nth-child(n+1) {
            margin: 0 0.3rem;
          }
        }

        .cardHeadBlock:nth-child(n+2) {
          padding: 0 0.5rem;
        }

        .socialList{
          width: 12rem;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
        }

        .socialListBlock {
          width: 4rem;
          font-size: 1rem;
        }

        .socialListBlock:nth-child(n+2):hover{
          color:var(--link-color);
        }

        .iconfont {
          font-family: "iconfont" !important;
          font-style: normal;
          padding-right: 0.2rem;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }

      .card:hover,
      .card:focus,
      .card:active {
        background-color: var(--article-introduction-block-color);
      }

      .card h2 {
        margin: 0 0 1rem 0;
        font-size: 1.2rem;
        overflow: hidden;/*超出的部分隐藏起来。*/
        white-space: nowrap;/*不让文本换行,在一行显示*/
        text-overflow: ellipsis;/*超出显示...*/
      }

      .card p {
        margin-bottom: 1rem;
        font-size: 0.875rem;
        line-height: 1.5;
        overflow: hidden;/*超出的部分隐藏起来。*/
        white-space: nowrap;/*不让文本换行,在一行显示*/
        text-overflow: ellipsis;/*超出显示...*/
      }
    }

    .paginationArea {
      width: 62.5rem;
      display: flex;
      justify-content: flex-end;
      padding: 20px 0;

      :global {
        .semi-page-item {
          color: var(--primary-color);
          opacity: 0.7;
        }

        .semi-page-item:hover {
          background-color: var(--semi-page-hover-background-color);
        }

        .semi-page-item-active {
          color: var(--semi-page-active-color);
          background-color: var(--semi-page-active-background-color);
        }

        .semi-page-item-active:hover {
          color: var(--semi-page-active-color);
          background-color: var(--semi-page-active-background-color);
        }
      }
    }
  }

  @keyframes fadeInDown1 {
    0% {
      @include initStatus;
    }

    11% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown2 {
    0% {
      @include initStatus;
    }

    22% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown3 {
    0% {
      @include initStatus;
    }

    33% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown4 {
    0% {
      @include initStatus;
    }

    44% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown5 {
    0% {
      @include initStatus;
    }

    55% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown6 {
    0% {
      @include initStatus;
    }

    66% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown7 {
    0% {
      @include initStatus;
    }

    77% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }

  @keyframes fadeInDown8 {
    0% {
      @include initStatus;
    }

    88% {
      @include initStatus;
    }

    100% {
      @include finalStatus;
    }
  }
}

@media screen and (max-width: 65rem) {
  .container {
    padding: 0;
  }
}

@include media-ipad {
  .container {
    .main {
      .grid {
        width: 95%;
        margin: auto;
        justify-content: center;
      }
    }
  }
}

@include media-mobile {
  .container {
    .main {
      .title {
        font-size: 1.75rem;
        line-height: 2.4375rem;
      }
      .description {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 2rem 0;
      }
      .grid {
        width: 95%;
        margin: auto;
        justify-content: center;
        .card {
          height: 10rem;
          h2 {
            font-size: 1.125rem;
            line-height: 1.5625rem;
            overflow: hidden;
            /*超出的部分隐藏起来。*/
            white-space: nowrap;
            /*不让文本换行,在一行显示*/
            text-overflow: ellipsis;
            /*超出显示...*/
          }
          p {
            width: 25rem;
            font-size: 0.75rem;
            line-height: 1.625rem;
            overflow: hidden;/*超出的部分隐藏起来。*/
            white-space: nowrap;/*不让文本换行,在一行显示*/
            text-overflow: ellipsis;/*超出显示...*/
          }
        }
      }
    }
  }
}
