.search-type {
  padding-left: r(16);
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }

  &-item {
    flex: 1;
    position: relative;
    font-size: r(30);
    font-family: PingFangSC-Regular;
    color: #999;
    text-align: center;
    margin: 0 r(24);

    &:first-child {
      margin-left: 0;
    }

    &.active {
      color: #057aff;
      font-family: PingFangSC-Medium;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: r(6);
        background: #057aff;
      }
    }
  }
}
